* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
    width: 66%;
}

.h-logo {
    color: #f9faf8;
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 28px
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.div-1 {
    background-color: #1F2937;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upper-content {
    display: flex;
    padding: 24px 96px;
    justify-content: center;
    gap: 96px;
    max-width: 1400px;
}



.upper-content div h1 {    
    font-size: 48px;
    color: #f9faf8;
    
}
.upper-content div p {    
    color: #e5e7eb;
    font-size: 18px;
    
}

.upper-content div button {   
    margin-top: 20px; 
    background-color: #3882f6;
    padding: 8px 16px;
    color: #e5e7eb;
    font-size: 18px;
    border: none;
    border-radius: 8px;

    
}
img {
    width: 400px;
}

.div-2 {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;

}

.div-2 h1 {
    font-weight: extra-bold;
    font-size: 36px;
    color: #1F2937
}
.illustration, .box-info {
    width: 200px;
}
.illustration {
    height: 200px;
    border: solid;
    border-width: 5px;
    border-radius: 20%;
    border-color: #3882f6;

}
.box-container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.box-info {
    margin-top: 10px;
    text-align: center;
    color: grey;
}
.div-3 {
    background-color: rgb(230, 230, 230);
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {

    display: flex;
    flex-direction: column;
    flex-basis: 900px;
}

.quote-container p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
}
.quote-name {
    align-self: flex-end;
}

.div-1, .div-2, .div-3, .div-4 {
    min-height: 400px;
    padding: 25px
}

.div-4 {
    display: flex;
    justify-content: center;
    align-items: center;

}

#blue-box {
    width: 66%;
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    color: white;
    padding: 50px 0px;
    border-radius: 8px;
}

#blue-box div{
    width: 66%;

}

#blue-box button {
    border-radius: 8px;
    border: solid 4px white;
    background-color: #3882f6;
    color: white;
    width: 120px;
    font-weight: bold;
}

footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 25px;
}
